.background-menu {
    background-color: black;
}

.hoi {
    background-image: url(rekrut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
}


.hoi2 {
    background-image: url(armia3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}